
/*NOTA IMPORTANTE:*/
/*Para que se entienda mejor el texto y se puedan diferenciar los elementos,
los elementos principales están tabulados a la izquierda y los que nacen
de ellos a la derecha. Cuando se empieza un elemento nuevo, se vuelve a la izquierda.
Para diferenciarlos mejor a simple vista y si buscamos uno diferenciarlo rapidamente*/
/***********************************************************************************/

/*Introducción de PTSans (normal)*/
@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PTSans/PTSans-Regular.ttf') format('truetype');
    font-weight: 1;
    font-style: normal;
}

/*Introducción de PTSansBold (negrita)*/
@font-face {
    font-family: 'PTSansBold';
    src: url('../fonts/PTSans/PTSans-Bold.ttf') format('truetype');
    font-weight: 2;
    font-style: normal;
}

/*definimos el estilo de los enlaces del documento*/
a{
    text-decoration: none;
    color:black;
}

/*Definimos el ancho y la posición del body en la página*/
body{
    width: 1190px;
    margin: auto;
    padding: 0;
}



/*****HEADER*****/
header{
    width:590px;
    float: left;
}

    /*Imagen del header*/
    header>img{
        width:60%;
        height:80px;
    }



/*****NAV PRINCIPAL*****/
#navPrincipal{
    width: 590px;
    float:right;
    height:84px;
}

    /*Parte de login del Nav*/
    #login{
        float: right;
        margin-right: 0;
        width: 20%;
    }

    /*Lista del login*/
    #login>ul{
        margin:0;
        padding:0;
        list-style-type: none;
        font-size:12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display:flex;
        justify-content: space-between;
    }

    /*Elementos de la lista de login*/
    #login>ul>li{
        font-weight: bold;
        color:black;
    }

    /*Parte de las pestañas en la navegación principal (about, projects...), ancho y posicionamiento*/
    #navegacion{
        width: 590px;
        margin-bottom: 0;
    }

    /*Lista de la navegación del nav principal. Posicionamiento, estilo y distribución*/
    /*Con flex start conseguimos que empiece desde la izquierda, con space between que pegue los elementos
    a los extremos, dejando espacio entre ellos y alineamos el texto al centro*/
    #navegacion>ul{
        margin-top:10px;
        font-size:20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display:flex;
        justify-items: flex-start;
        justify-content: space-between;
        text-align: center;
    }

    /*Elementos de la lista de navegacion*/
    /*Display inline para que estén en linea, no aplicamos estilo de lista y centramos el texto en la celda*/
    #navegacion>ul>li{
        display: inline;
        list-style-type: none;
        font-weight: bold;
        color:rgb(132,139,150);
        background-color:rgb(244,240,243);
        width:19%;
        height:30px;
        text-align: center;
        float: left;
        border-radius: 5px;
    }



/*****TÍTULO DEL NAV*****/
/*clear both para que nos ocupe todo a lo ancho. Anchura 100% para que nos ocupe todo*/
#tituloNav{
    clear: both;
    width:100%;
}

    /*Estilo del titulo*/
    #tituloNav>h2{
        font-family: PTSansBold;
        color: rgb(18,106,124);
        font-size: 35px;
        margin:auto;
        padding:0;
    }



/*****NAV SECUNDARIO*****/
/*Float left para que nos lo pegue a la parte izquierda.*/
#navSecundario{
    width:690px;
    float:left;
    font-family: PTSans;
    height:35px;
}

    /*Lista del nav secundario (Festival, Program, Participants...)*/
    /*Display flex para poder ajustar los elementos de la lista y con space between */
    #navSecundario>ul{
        display:flex;
        justify-content: space-between;
        padding:0;
        list-style-type: none;
        font-size:14px;
    }

    /*Estilo de los elementos de la lista del nav secundario*/
    /*Bordeamos los border "start-end" y "top-left"*/
    #navSecundario>ul>li{
        font-weight: bold;
        color:rgb(159,164,168);
        background-color: rgb(244,244,244);
        text-align: center;
        width: 80px;
        border-start-end-radius: 10px;
        border-top-left-radius: 10px;
        height: 20px;
        margin-top: -3px;
    }

    /*Posicionamiento de la flecha*/
    /*He puesto con relative la flecha, porque si no se me hacía imposible posicionarla*/
    #navSecundario>img{
        position:relative;
        top:-21px;
        left: 130px;
    }



/*****NAV IDIOMAS*****/
/*Display flex para poder ajustar los elementos, le damos anchura y lo posicionamos a la dcha con float right*/
#idiomas{
    display: flex;
    width:490px;
    padding:0;
    float: right;
}

    /*Texto de idiomas (language), estilo y posicionamiento*/
    /*lo he puesto con relative porque si no no se me pegaba al lenguaje*/
    #idiomas>p{
        margin:auto;
        color: black;
        font-family: PTSans;
        padding:0;
        text-align: right;
        position:relative;
        left:180px;
    }

    /*Lista de idiomas*/
    #idiomas>ul{
        margin:0;
        padding:0;
    }

    /*Elementos de la lista de idioams (en,cas,es)*/
    #idiomas>ul>li{
        font-family: PTSans;
        display: inline;
        list-style-type: none;
        color:rgb(132,139,150);
        background-color:rgb(244,240,243);
        width:100%;
        text-align: center;
    }

    /*Indicamos que el ultimo hijo de la lista de idiomas tenga los bordes indicados redondeados*/
    #idiomas>ul>:last-child{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color:rgb(244,240,243);
    }

    /*Indicamos que el primer hijo de la lista de idiomas tenga los bordes indicados redondeados*/
    #idiomas>ul>:first-child{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background: lightgray;
    }



/*****PROGRAM*****/
#program{
    width: 890px;
    float: left;
}

    /*Título de progam*/
    #program>h2{
        font-family: arial;
    }

    /*Texto del Program, fuente y anchura*/
    #programTexto{
        font-family: 'Times New Roman', Times, serif;
        width: 590px;
    }

    /*Posicionamiento y anchura de la foto de program*/
    #program>img{
        position:relative;
        right:10px;
        bottom: 12px;
        width: 150px;
        float:right;
    }

    /*Creo una clase para los títulos ("Program" y "In Partnership With)*/
    .titulos{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 35px;
        color:rgb(63,186,196);
    }



/*****REGISTER*****/
#register{
    width:290px;
    float:right;
    background-color: rgb(154,206,255);
    border-radius: 5px;
    color: rgb(66,111,168);
    text-align: center;
}

    /*Botón verde del Register. Distibución y estilo.*/
    #botonRegister{
        display: flex;
        padding:0;
        margin-left:10px;
        margin-right:10px;
        margin-top: 15px;
        background-color: rgb(140,207,104) ;
        border-radius: 5px;
        height: 50px;
        box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.3);
        font-family: 'Times New Roman', Times, serif;
    }

    /*Texto del botón del Register ("Register"). Posicionamiento y estilo*/
    #botonRegister>p{
        margin:auto;
        padding:0;
        font-size:30px;
        width:80%;
        color: white;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 0px 0.5px 0px black;
        
    }



/*****BENEFIT*****/
/*con flex direction: column consigo que su distribución se de arriba a abajo*/
#benefit{
    width:290px;
    float:right;
    font-family: PTSans;
    background-color: rgb(240,242,241);
    border-radius: 8px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}
    /*BenefitDist porque es la distribución general de benefit (BenefitDistribution)*/
    /*Clase que usamos para cada linea imagen+texto*/
    /*con flex-direction:row la distribución serrá de izda a derecha, aplicandole space
    around para que sus elementos estén espaciados*/
    .benefitDist{
        margin:6px;
        padding:0;
        width:95%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    /*Texto de los benefitDist. Posicioaniento y anchura*/
    .benefitDist>p{
        float:right;
        margin:auto;
        padding:0;
        width:80%;
        font-size: 15px;
    }

    /*Foto de los Benefit Dist*/
    .benefitDist>img{
        margin: auto;
        padding: 0;
        width:45px;
        height:45px;
    }



/*****WHAT'S IT ALL ABOUT?*****/
#parrafo1{
    width:490px;
    float: left;
}

    /*Estilo y anchura del texto*/
    #parrafo1>p{
        color:rgb(141,134,139);
        width: 390px;
        font-style: italic;
    }



/*****SCHEDULE*****/
#parrafo2{
    width: 390px;
    margin-left: 10px;
}

    /*Estilo y posicionamiento del texto de Schedule*/
    #parrafo2>p{
        color:rgb(141,134,139);
        float:left;
        width: 390px;
        font-style: italic;
    }

    /*Alineación de parrafo1 (Whats It All About) y parrafo2 (Schedule)*/
    /*para que me queden en linea, les aplico el inline-block*/
    #parrafo1, #parrafo2{
        display:inline-block;
    }

    /*Clase utilizada en los titulos "Whats It All About", "Schedule", "Festival Spaces"*/
    .titulosParrafos{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: rgb(10,119,122);
        font-weight: bold;
        font-style: normal;
    }

    /*Clase usada en los textos de color azul (parrafos)*/
    .textoAzul{
        color: rgb(37,123,124);
    }

    /*Clase usada en los textos de color azul un poco mas oscuro (cuadros colores)*/
    .textoAzulOscuro{
        color: rgb(6,109,114);
    }



/*****FESTIVAL SPACES*****/
#festivalSpaces{
    width:890px;
    float:left;
}
    /*Fuente aplicada al texto de "festival spaces"*/
    #textoSpaces{
        font-family: 'Times New Roman', Times, serif;
    }

    /*Clase definida para los titulos dentro de los cuadros de colores*/
    .titulosCuadros{
        font-family: PTSansBold;
        padding:8px;
        margin-left: 7px;
        margin-right: 7px;
        margin-bottom: 12px;
        height:70%;
    }

    /*Distribución del div de cuadros de colores*/
    #cuadrosColores{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*Clase que define el posicionamiento, tipo de fuente y altura de los cuadros de colores*/
    .textoCuadro{
        font-family: 'Times New Roman', Times, serif;
        padding:8px;
        margin-left: 7px;
        margin-right: 7px;
        margin-bottom: 12px;
        height:70%;
    }

    /*Clase para marcar la anchura, el sombreado y el posicionamiento del espacio del cuadro*/
    .cuadro{
        width: 240px;
        box-shadow: 1px 3px 3px 2px rgba(0,0,0,0.2);
        margin:auto;
        padding:0;
    }

    /*Clase para el espacio de los cuadros (anchura y posicionamiento)*/
    .espacioCuadro{
        width:290px;
        margin-top: 20px;
        padding:0;
    }

    /*Clase para los cuadros con fondo verde*/
    .verde{
        background-color: rgb(222,239,171);
    }

    /*Clase para los cuadros con fondo rojo*/
    .rojo{
        background-color: rgb(255,218,212);
    }

    /*Clase para los cuadros con fondo amarillo*/
    .amarillo{
        background-color: rgb(254,252,195);
    }

    /*Clase para los cuadros con fondo azul*/
    .azul{
        background-color: rgb(153,219,233);
    }

    /*Clase para los cuadros con rotación 1 (hacia la izquierda)*/
    .rotacion1{
        transform:rotate(-4deg);
    }

    /*Clase para los cuadros con rotación 2 (hacia la derecha)*/
    .rotacion2{
        transform:rotate(2deg);
    }

    /*Clase para los cuadros con rotación 1 (hacia la izquierda)*/
    .rotacion3{
        transform:rotate(6deg);
    }

    /*Texto de debajo de los cuadros. Definimos su tipo de fuente, anchura y margen*/
    #textoPie{
        width: 65%;
        font-family: 'Times New Roman', Times, serif;
        margin-left:25px;
    }

    /*Margen del título "In partership with". Lleva la clase titulos*/
    #tituloPie{
        margin-left: 25px;
    }
    
    
    
/*****ASIDE DE CHECKS*****/
#asideChecks{
    clear: none;
    width:290px;
    float:right;
    font-family: PTSans;
    padding: 0;
    margin-top: 16px;
    background-color: rgb(254,252,195);
    box-shadow: 1px 3px 3px 2px rgba(0,0,0,0.2);
    border-radius: 4px;
    transform: rotate(1deg);
    height:auto;
    display:flex;
    flex-direction: column;
}

    /*Titilo de los checks "Who should come?". Definimos su estilo, posicionamiento y anchura*/
    #checkTitulo{
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        color: rgb(156,0,1);
        margin:15px;
        padding:0;
        width:85%;
    }

    /*Definimos anchura y posicionamiento de los checks*/
    #checks{
        width: 85%;
        margin:auto;
        padding:0;
    }

    /*Contenedor de los checks dentro del asidechecks. Posicionamiento y anchura*/
    #contenedorChecks{
        margin:auto;
        padding:0;
        width:85%;
    }

    /*Texto dentro de los checks*/
    #checks>p{
        margin: auto;
        padding:0;
    }

    /*Parte de abajo del aside check, el texto. Definimos su fuente, posicionamiento y anchura*/
    #checkTexto{
        font-family: 'Times New Roman', Times, serif;
        margin:auto;
        padding:0;
        width:90%;
    }
    
    
    
/*****PARTE DEL ASIDE DE WEBS (Identi.ca + Twitter)*****/
/*column para que se me distribuyan los elementos de arriba a abajo y space between para que se
ajusten en cada extremo (uno arriba y otro abajo)*/
#webs{
    width:290px;
    float:right;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
    /*Parte de identi.ca*/
    #identica{
        float: left;
        margin-top: 65px;
        margin-left: 30px;
        padding:0;
        width:80%;
        height:30px;
        background-color: rgb(125,180,201) ;
        box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.3);
        border-radius: 5px;
    }

    /*Contenedor de Identi.ca*/
    #contIdentica{
        display: flex;
        width:70%;
        margin:auto;
        float: left;
    }

    /*Texto dentro del contenedor de Identi.ca*/
    #contIdentica>p{
        margin:auto;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        padding:0;
        text-align: left;
    }

    /*Imagen dentro del contenedor de Identi.ca*/
    /*Para que se me pegue la imagen a la izda, pongo un float left*/
    #contIdentica>img{
        float: left;
        height:25px;
        padding:0;
    }

    /*Twitter*/
    #twitter{
        margin-top: 9px;
        margin-left: 30px;
        display:flex;
        padding:0;
        width:80%;
        height:30px;
        background-color: rgb(0,188,255) ;
        box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.3);
        border-radius: 5px;
    }

    /*texto de Twitter*/
    #twitter>p{
        margin:auto;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        padding:0;
        text-align: left;
        float:left;
    }

    /*Imagen de twitter*/
    /*Para que se me pegue la imagen a la izda, pongo un float left*/
    #twitter>img{
        height:30px;
        float: left;
        margin-left:5px;
        padding:0;
    }



/*****FOOTER*****/
footer{
    height:140px;
    background-color: rgb(122,119,114);
    clear:both;
}

    /*Contenedor de footer. Distribución y posicionamiento*/
    #contFooter{
        width:1071px;
        height: 100px;
        margin:auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /*Div de redes. Distribución de las partes*/
    #redes{
        width: 235.62px;
        height:80px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-family: 'Times New Roman', Times, serif;
    }

    /*Parte de rss (izquierda)*/
    #rss{
        display: flex;
        width:141.37px;
        height: 100%;
        float: left;
    }

    /*Parrafo de rss (Drumbeat Blog...)*/
    #rss>p{
        float:right;
        margin-top:0;
        margin-left: 8px;
        padding:0;
        width:80%;
        font-size: 14px;
        float: right;
        color:white;
        font-weight: bold;
    }

    /*Posicionamiento de la foto de rss (naranja)*/
    #rss>img{
        float:left;
        width: 18px;
        height: 18px;
    }

    /*Estilo de los elementos de Social (Facebook, Twitter, Flickr)*/
    #social{
        width:95px;
        color:white;
        font-weight: bold;
        font-size: 16px;
    }

    /*Imagenes de Social. Distribución y estilo.*/
    #social>img{
        width: 14px;
        height:14px;
        float:left;
        margin-right: 8px;
    }

    /*Distribución y estilo del contenedor de enlaces (Mozilla y join)*/
    #enlaces{
        width: 270px;
        height:80px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    /*Distribucion del div mozilla*/
    #mozilla{
        display: flex;
        width:50%;
        height: 100%;
        float: left;
    }

    /*Distribucion div join*/
    #join{
        width: 50%;
        float:right;
    }

    /*Posicionamiento y distribución de la lista dentro de join*/
    #join>ul{
        margin:auto;
        padding:0;
        float: left;
    }

    /*Estilo de la lista de join*/
    #join>ul>li{
        color:white;
        list-style-type: none;
    }

    /*Estilo y posicionamiento del texto del div de mozilla*/
    #mozilla>p{
        float:right;
        margin-top:0;
        margin-left: 8px;
        padding:0;
        width:80%;
        font-size: 14px;
        float: right;
        color:white;
        font-weight: bold;
    }

    /*Posicionamiento de la imagen de mozilla (Dragoncito rojo)*/
    #mozilla>img{
        float:left;
        width: 18px;
        height: 18px;
    }

    /*Texto de la derecha del footer. Estilo y posiconamiento*/
    #textoFooter{
        width: 350px;
        height:80px;
        flex-direction: row;
        font-family: 'Times New Roman', Times, serif;
        text-align: right;
    }

