@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 1;
    font-style: normal;
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf') format('truetype');
    font-weight: 1;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/Cupurum/Cuprum-VariableFont_wght.ttf') format('truetype');
    font-weight: 1;
    font-style: normal;
}

@media print{

    *{
        list-style-type: none;
        font-family: Cuprum;
    }

    h3, h2{
        text-align: center;
    }

    #direccion, #dias, #ofertas{
        border: gold 1px solid;
        margin-top: 15px;
    }

    #login, #fotoEncabezado, #navegacionPagina, #horarios, #enlacesFooter, #espacioTablas{
        display:none;
    }

    #indices, #articleFotos, #direccionTablet>a>img, #cerrar, #direccion>a>img, #ofertasTablet, #apertura, footer{
        display: none;
    }

    body{
        border:none;
    }

    header{
        display:flex;
        flex-direction: column;
    }

    #header>img{
        margin-top:0;
        padding-top:0;
        margin:auto;
        padding: 0;
    }

    #contedorContenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }

    #dias{
        border: gold 1px solid;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #dias>h3{
        font-family: Cuprum;
        text-align: center;
        font-size: 20px;
    }

    #dias>ul{
        width: 60%;
        display:flex;
        flex-direction: column;
        text-align: left;
    }

    #dias>ul>li{
        text-align: left;
        font-family: Cuprum;
    }

    #direccion{
        text-align: center;
    }

    #tituloRedes{
        font-family: Cuprum;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    #oferta1, #oferta2, #oferta3{
        border-top: black 2px solid;
        text-align: center;
    }

    .tituloOferta, .precio{
        font-weight: bold;
        font-size: 22px;
    }
}



/*MEDIA QUERY MONITOR*/
@media only screen and (min-width: 1000px){

    *{
        list-style-type: none;
    }

    #ofertasTablet, #apertura{
        display:none;
    }

    a{
        text-decoration: none;
        color:black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    body{
        width:90%;
        margin: auto;
        padding:0;
        border:solid 2px black;
    }

    h2{
        font-family: Bebas Neue;
        font-size: 50px;
    }

    h3{
        font-family: Kaushan Script;
        font-size: 20px;
    }
    
    p{
        font-family: Arial, Helvetica, sans-serif;
    }

    #contenedorFijo{
        position: fixed;
        overflow: hidden;
        margin-top:0;
        width:90%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-color: gold;
        border: black 5px solid;
        box-sizing: border-box;
        height:190px;
    }
    
    #navegacionPagina>ul{
        width:100%;
        margin:5px;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    #navegacionPagina>ul>li{
        width:100%;
        margin:2px;
        text-align: center;
        background-color: white;
        color:black;
        font-weight: bold;
        font-size:20px;
    }

    #navegacionPagina>ul>li:hover{
        width:120%;
        margin:2px;
        text-align: center;
        color:black;
        font-weight: bold;
        font-size:20px;
        transition: background-color 1s ease;
        color: white;
    }
    
    header{
        width:50%;
        height:125px;
    }

    header>img{
        width:90%;
        height:125px;
    }
    
    #login{
        width:25%;
        height:125px;
    }

    #formLogin{
        height:80%;
        padding:0;
        text-align: left;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    #labelU, #labelC{
        margin: 2px;
        font-family: Cuprum;
        font-size: 20px;
    }

    #botonLogin{
        margin:0;
        background-color: black;
        color:gold;
        border:white;
        margin: 10px;
        font-weight: bold;
    }

    #fotoEncabezado{
        width:100%;
        display: flex;
        justify-content: center;
        background-color: black;
    }

    #fotoEncabezado>img{
        width: 100%;
    }
    
    section{
        float:left;
        width:75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: black;
        border: black 1px solid;
        margin-bottom: 0;
    }

    #horarios{
        clear:both;
        background-color: gold;
    }
    
    #espacioTablas{
        margin: auto;
        padding:0;
        width:100%;
    }

    #espacioActiv{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #tablaActividades{
        width:75%;
        background-color:white;
        border: none;
        text-align:center;
    }

    #formularioAct{
        margin:auto;
        padding: 0;
        float:left;
        width:20%;
    }

    #espacioFisios{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #tablaFisios{
        width:75%;
        background-color:white;
        border: none;
        text-align:center;
    }

    tbody>tr>th,td{
        font-family: Cuprum;
        font-weight: bold;
    }

    tr:hover{
        background-color: gold;
        color:black;
    }

    tr>th{
        background-color: black;
    }

    #formularioFis{
        margin:auto;
        padding: 0;
        float:left;
        width:20%;
    }

    #boton1{
        background-color: black;
        color:white;
        font-weight: bold;
    }

    #boton2{
        background-color: black;
        color:white;
        font-weight: bold;
    }

    #formulario{
        font-family: Kaushan Script;
        font-weight: bold;
    }

    #indices{
        background-color: black;
    }

    #indices>h2{
        color:rgb(255, 215, 0)
    }

    #espacioIndices{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: white;
        border-top: gold 1px solid;
    }
    
    #imc{
        float:right;
        width:50%;
        color:white;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #imc>h3{
        text-align: center;
        color: gold;
    }

    #botonIMC{
        background-color: gold;
        color:black;
        font-weight: bold;
        width: 30%;
        margin:auto;
        padding: 0;
    }

    #fcm{
        float:right;
        width:50%;
        color:white;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: gold 1px solid;
    }

    #fcm>h3{
        text-align: center;
        color: gold;
    }

    #botonFCM{
        background-color: gold;
        color:black;
        font-weight: bold;
        width: 30%;
        margin:auto;
        padding: 0;
    }

    #articleFotos{
        background-color: gold;
        width:100%;
    }
    
    #espacioFotos{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        background-color: gold;
    }

    #espacioFotos>img{
        margin-top: 1px;
        width: 33%;
    }

    .ampliar{
        transition: transform .2s;
    }

    .ampliar:hover{
        transform: scale(1.5);
    }

    aside{
        float:right;
        width: 24%;
        display: flex;
        margin-right: 0px;
        flex-direction: column;
        justify-content: space-between;
        height:70%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #dias{
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
    }


    #dias>h3{
        background-color: gold;
        width: 100%;
    }

    #dias>ul{
        width:100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: left;
    }

    #dias>ul>li{
        text-align: left;
        color:black;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #cerrar{
        width:100%;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cerrar>h3{
        background-color: gold;
        width: 100%;
        text-align: center;
    }

    #cerrar>ul{
        width:100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: left;
    }

    #cerrar>ul>li{
        text-align: left;
        color:black;
        font-size: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #direccion{
        margin-top: 20px;
        text-align: center;
        font-size: 15px;
        width: 95%;
    }

    #direccion>p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #direccion>h3{
        background-color: gold;
    }

    #direccion>a>img{
        border: 1px black solid;
        width:80%;
    }

    #ofertas{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    #ofertas>h3{
        text-align: center;
        font-size: 18px;
        background-color:gold;
    }

    #oferta1,#oferta2,#oferta3{
        margin-top:15px;
        text-align: center;
        border: black 1px solid;
    }

    .tituloOferta{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 28px;
        background-color: gold;
    }

    .precio{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 20px;
        background-color: black;
        color:white;
    }

    .textoOferta{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    footer{
        clear:both;
        width:100%;
        height: 200px;
        background-color: black;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content:center;
    }

    #rrss{
        width:50%;
        margin:auto;
        padding: 0;
    }

    #contenidorrss{
        width:40%;
        margin:auto;
        padding: 0;
        text-align: center;
    }

    #contenidorrss>a>img{
        width:15%;
    }

    #contenidorrss>p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
    }

    #enlacesFooter{
        margin:auto;
        padding: 0;
        width:50%;
    }
    #enlacesFooter>ul{
        width:95%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #enlacesFooter>ul>li>a{
        margin:2px;
        text-align: left;
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        color:white;
    }

    #enlacesFooter>ul>li>a:hover{
        color:gold;
    }
}


@media only screen and (min-width:600px) and (max-width:999px){
    *{
        list-style-type: none;
    }

    #fotoEncabezado, #ofertas, #direccion>a>img, #direccionTablet>a>img, aside, #direccionTablet{
        display: none;
    }

    #navegacionPagina>ul> #ofertas{
        display: none;
    }
    
    body{
        margin:auto;
        padding:0;
        width: 90.3%;
        border:black 1px solid;
    }

    a{
        text-decoration: none;
        color:black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h2{
        font-family: Bebas Neue;
        font-size: 30px;
    }

    h3{
        font-family: Kaushan Script;
        font-size: 15px;
    }
    
    p{
        font-family: Arial, Helvetica, sans-serif;
    }

    #contenedorFijo{
        position: fixed;
        width:90%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: gold;
        border: black 2px solid;
        height: 150px;
    }

    #header{
        order:1;
        width: 50%;
    }

    #header>img{
        margin:auto;
        padding:0;
        width:90%;
    }

    #login{
        order:2;
        width:25%;
        overflow: hidden;
    }

    #formLogin{
        padding:0;
        margin: 2px;
        font-weight: bold;
        text-align: right;
    }

    #botonLogin{
        background-color: black;
        color:gold;
        border:white;
        font-weight: bold;
    }

    #labelU, #labelC{
        margin: 2px;
        font-family: Cuprum;
        font-size: 20px;
    }

    #navegacionPagina{
        order:3;
        width:100%;
        padding: 0;
    }

    #navegacionPagina>ul{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding:0;
        text-align: center;
        width:100%;
        margin:auto;
    }

    #navegacionPagina>ul>li{
        background-color: white;
        width:auto;
        border-radius: 5px;
        height:auto;
        display:flex;
        align-items: center;
        margin:auto;
    }

    #navegacionPagina>ul>li:hover{
        text-align: center;
        color:white;
        transition: background-color 1s ease;
        background-color: black;
    }

    #navegacionPagina>ul>li>a{
        font-family: Cuprum;
        font-weight: bold;
        text-align:center;
    }

    #navegacionPagina>ul>li>a:hover{
        color:white;
    }

    #contedorContenido{
        margin-top: 150px;
        width:100%;
    }

    #horarios{
        clear:both;
    }

    #horarios>h2{
        background-color: black;
        color: gold;
    }
    
    #espacioTablas{
        margin: auto;
        padding:0;
        width:100%;
    }

    #espacioTablas>h3{
        background-color: gold;
    }

    #espacioActiv{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        overflow: scroll;
    }

    #tablaActividades{
        width:75%;
        border: none;
        text-align:center;
    }

    #formularioAct{
        margin:auto;
        padding: 0;
        float:left;
        width:20%;
    }

    #espacioFisios{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #tablaFisios{
        width:75%;
        background-color:white;
        border: none;
        text-align:center;
    }


    tbody>tr>th,td{
        font-family: Cuprum;
        font-weight: bold;
    }

    tr:hover{
        background-color: gold;
        color:black;
    }

    tr>th{
        background-color: gold;
        color:black;
        font-family: Kaushan Script;
    }

    #formularioFis{
        margin:auto;
        padding: 0;
        float:left;
        width:20%;
    }

    #boton1{
        background-color: black;
        color:gold;
        font-weight: bold;
    }

    #boton2{
        background-color: black;
        color:gold;
        font-weight: bold;
    }

    #formulario{
        font-family: Kaushan Script;
        font-weight: bold;
    }

    #indices{
        background-color: gold;
        border: black 1px solid;
    }

    #espacioIndices{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #fcm{
        width:50%;
        color:white;
        font-family: Cuprum;
        font-weight: bold;
        background-color: gold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color:black;
    }

    #fcmpersonal{
        text-align: center;
        font-family: Cuprum;
        font-weight: bold;
    }

    #listafcm{
        text-align: left;
        font-size: 13px;
    }

    #fcm>h3{
        text-align: center;
        color: black;
    }

    #botonFCM{
        background-color: white;
        color:black;
        font-weight: bold;
        width: 30%;
        margin:auto;
        padding: 0;
    }

    #imc{
        width: 50%;
        float:right;
        font-family: Cuprum;
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }

    #imc>h3{
        text-align: center;
        color: black;
    }

    #listaimc{
        float: left;
        font-size: 12px;
        text-align: left;
        color:black;
    }

    #botonIMC{
        background-color: white;
        color:black;
        font-weight: bold;
        width: 30%;
        margin:auto;
        padding: 0;
    }

    #articleFotos{
        width:55.3%;
        float: left;
        height:90%;
        background-color: black;
        margin-bottom: 0;
    }

    #articleFotos>h2{
        color:gold;
    }

    #espacioFotos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width:100%;
        background-color: black;
    }

    #espacioFotos>img{
        width:49.25%;
        margin:1px;
    }

    .ampliar{
        transition: transform .2s;
    }

    .ampliar:hover{
        transform: scale(1.5);
        border: black 1px solid;
    }

    #apertura{
        padding: 0;
        float: right;
        width: 44.5%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: white;
        height: 504px;
    }

    #diasTablet, #cerrarTablet, #direccionTablet{
        margin-bottom: 10px;
    }

    #diasTablet>h3{
        background-color: gold;
        color:black;
        text-align: center;
    }

    #diasTablet>ul{
        border-bottom: black 1px solid;
        width:100%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #diasTablet>ul>li{
        margin:2px;
        text-align: left;
        color:white;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #cerrarTablet{
        width:100%;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }

    #cerrarTablet>h3{
        background-color: gold;
        color:black;
    }

    #cerrarTablet>ul{
        width:100%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #cerrarTablet>ul>li{
        margin:2px;
        text-align: left;
        color:white;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #direccionTablet{
        margin:auto;
        padding:0;
        text-align: center;
    }

    #direccionTablet>p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: bold;
    }

    #direccionTablet>h3{
        background-color: gold;
        color: black;
    }

    #ofertasTablet{
        width:100%;
        margin: auto;
        padding:0;
        clear:both;
        text-align: center;
        background-color: gold;
    }

    #ofertasTablet>h3{
        font-size: 35px;
    }

    #espacioOfertasTablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #oferta1, #oferta2, #oferta3{
        margin:4px;
        border: black 1px solid;
        background-color: white;
    }

    .tituloOferta{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 20px;
        background-color: gold;
    }

    .precio{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 20px;
        background-color: black;
        color:white;
    }

    .textoOferta{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    footer{
        clear:both;
        width:100%;
        height: 200px;
        background-color: black;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content:center;
    }

    #rrss{
        width:50%;
        margin:auto;
        padding: 0;
    }

    #contenidorrss{
        width:60%;
        margin:auto;
        padding: 0;
        text-align: center;
    }

    #contenidorrss>a>img{
        width:40px;
    }

    #contenidorrss>p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
    }

    #enlacesFooter{
        margin:auto;
        padding: 0;
        width:40%;
    }
    #enlacesFooter>ul{
        width:95%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #enlacesFooter>ul>li>a{
        margin:2px;
        text-align: left;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        color:white;
    }

    #enlacesFooter>ul>li>a:hover{
        color:gold;
    }
}

@media only screen and (max-width:600px) and (min-width:300px){
    *{
        list-style-type: none;
    }

    a{
        text-decoration: none;
        color:black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h2{
        font-family: Bebas Neue;
        font-size: 30px;
    }

    h3{
        font-family: Kaushan Script;
        font-size: 15px;
    }
    
    p{
        font-family: Arial, Helvetica, sans-serif;
    }

    #ofertasTablet, #apertura, #fotoEncabezado, #direccionTablet>a{
        display:none;
    }

    #navegacionPagina>ul> #ofertasTablet{
        display: none;
    }

    body{
        margin:auto;
        padding:0;
        width: 90.3%;
        border: black 2px solid;
    }

    #contenedorFijo{
        position: fixed;
        width:90%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: gold;
        border: black 2px solid;
        height: 170px;
    }

    #header{
        order:1;
        width: 50%;
    }

    #header>img{
        margin:auto;
        padding:0;
        width:90%;
    }

    #login{
        order:2;
        width:25%;
        overflow: hidden;
    }

    #formLogin{
        padding:0;
        margin: 2px;
        font-weight: bold;
        text-align: right;
    }

    #botonLogin{
        background-color: black;
        color:gold;
        border:white;
        font-weight: bold;
    }

    #labelU, #labelC{
        margin: 2px;
        font-family: Cuprum;
        font-size: 20px;
    }

    #navegacionPagina{
        order:3;
        width:100%;
        padding: 0;
    }

    #navegacionPagina>ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        padding:0;
        text-align: center;
        width:100%;
        margin:auto;
    }

    #navegacionPagina>ul>li{
        background-color: white;
        width:auto;
        border-radius: 5px;
        height:auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin:auto;
        margin-top:10px;
    }

    #navegacionPagina>ul>li:hover{
        text-align: center;
        color:white;
        transition: background-color 1s ease;
        background-color: black;
    }

    #navegacionPagina>ul>li>a{
        font-family: Cuprum;
        font-weight: bold;
        text-align:center;
    }

    #navegacionPagina>ul>li>a:hover{
        color:white;
    }

    #contedorContenido{
        margin-top: 170px;
        width:100%;
    }

    #horarios{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow: scroll;
    }

    #horarios>h2{
        background-color: black;
        color: gold;
    }
    
    #espacioTablas{
        margin: auto;
        padding:0;
        width:100%;
    }

    #espacioTablas>h3{
        background-color: gold;
    }

    #espacioActiv{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #espacioFisios{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #tablaFisios{
        width:75%;
        background-color:white;
        border: none;
        text-align:center;
    }

    tbody>tr>th,td{
        font-family: Cuprum;
        font-weight: bold;
    }

    tr:hover{
        background-color: gold;
        color:black;
    }

    tr>th{
        background-color: black;
        color:white;
        font-family: Kaushan Script;
    }

    #formularioFis{
        margin:auto;
        padding: 0;
        float:left;
        width:20%;
        font-family: Cuprum;
        font-weight: bold;
    }


    #tablaActividades{
        font-size: 12px;
        width:90%;
        text-align: center;
        font-weight: bold;
        border: white 2px solid;
    }

    #formularioAct{
        font-family: Cuprum;
        font-size: 15px;
        font-weight: bold;
        width:100%;
        text-align: center;
    }

    #boton1{
        background-color: gold;
        font-weight: bold;
        width:25%;
        text-align: center;
    }

    #boton2{
        background-color: gold;
        font-weight: bold;
        width:25%;
        text-align: center;
    }

    #indices{
        background-color: black;
    }

    #indices>h2{
        text-align: center;
        color: gold;
    }

    #espacioIndices{
        display: flex;
        flex-direction: column;
    }
    
    #imc{
        width:100%;
        color:white;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #imc>h3{
        text-align: center;
        color: gold;
    }

    #botonIMC{
        background-color: white;
        color:black;
        font-weight: bold;
        width: 30%;
        margin:auto;
        padding: 0;
    }

    #fcm{
        width:100%;
        color:white;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: gold 1px solid;
    }

    #fcm>h3{
        text-align: center;
        color: gold;
    }

    #botonFCM{
        background-color: white;
        color:black;
        font-weight: bold;
        width: 30%;
        margin:auto;
        padding: 0;
    }

    #articleFotos{
        background-color: black;
        color:black;
    }

    
    #espacioFotos{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        background-color: black;
        text-align: center;
    }

    #espacioFotos>img{
        margin-top: 1px;
        width:98%;
    }

    aside{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height:100%;
    }

    #dias{
        margin-top: 50px;
        width:90%;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }

    #dias>h3{
        background-color: gold;
    }

    #dias>ul{
        width:100%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #dias>ul>li{
        margin:2px;
        text-align: left;
        color:black;
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #cerrar{
        width:100%;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        margin-top: 20px;
    }

    #cerrar>h3{
        background-color: gold;
    }

    #cerrar>ul{
        width:100%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #cerrar>ul>li{
        margin:2px;
        text-align: left;
        color:black;
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #direccion{
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        width: 90%;
    }

    #direccion>p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #direccion>h3{
        background-color: gold;
    }

    #direccion>a>img{
        border: 1px black solid;
        width:95%;
    }

    #ofertas{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
    }

    #ofertas>h3{
        text-align: center;
        font-size: 22px;
    }

    #oferta1,#oferta2,#oferta3{
        margin-top:15px;
        text-align: center;
        border: black 1px solid;
    }

    .tituloOferta{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 28px;
        background-color: gold;
    }

    .precio{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 20px;
        background-color: black;
        color:white;
    }

    .textoOferta{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    footer{
        clear:both;
        width:100%;
        height: 200px;
        background-color: black;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content:center;
    }

    #rrss{
        width:50%;
        margin:auto;
        padding: 0;
    }

    #contenidorrss{
        width:60%;
        margin:auto;
        padding: 0;
        text-align: center;
    }

    #contenidorrss>a>img{
        width:20px;
    }

    #contenidorrss>p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 14px;
    }

    #enlacesFooter{
        margin:auto;
        padding: 0;
        width:40%;
    }
    #enlacesFooter>ul{
        width:95%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #enlacesFooter>ul>li>a{
        margin-top:10px;
        padding: 0;
        text-align: left;
        font-size: 11px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        color:white;
    }

    #enlacesFooter>ul>li>a:hover{
        color:gold;
    }

}

@media only screen and (max-width:299px){
    *{
        display: none;
    }
}