/*Fuente que usaremos para los H2*/
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 1;
    font-style: normal;
}

/*Fuente que usaremos para los h3 y para algunas partes con letra decorativa*/
@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf') format('truetype');
    font-weight: 1;
    font-style: normal;
}

/*Fuente usada para texto más que para otra cosa*/
@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/Cupurum/Cuprum-VariableFont_wght.ttf') format('truetype');
    font-weight: 1;
    font-style: normal;
}



/******************************************************/
/*MEDIA PRINT: Media querie que usaremos para la impresion de la página*/
/******************************************************/
@media print{

    /*Le ponemos a todo el contenido fuente cuprum (en principio) y que no tenga ninguna decoracion en listas
    */
    *{
        list-style-type: none;
        font-family: Cuprum;
    }

    /*los títulos h2 y h3 deberan estar centrados*/
    h3, h2{
        text-align: center;
    }

    /*las partes de direccion, dias y ofertas tendrán estas características*/
    #direccion, #dias, #ofertas{
        border: gold 1px solid;
        margin-top: 15px;
    }

    /*estos elementos y los siguientes (para que no sea tan largo), lo hacemos en dos pasos*/
    #login, #fotoEncabezado, #navegacionPagina, #horarios, #enlacesFooter, #espacioTablas{
        display:none;
    }

    #indices, #articleFotos, #direccionTablet>a>img, #cerrar, #direccion>a>img, #ofertasTablet, #apertura, footer{
        display: none;
    }

    /*body sin borde*/
    body{
        border:none;
    }

    /*foto del header (logo): centrada */
    #header>img{
        margin-top:0;
        padding-top:0;
        margin:auto;
        padding: 0;
    }

    /*contenido aparte del logo*/
    #contedorContenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }

    /*dias que abren*/
    #dias{
        border: gold 1px solid;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

        /*titulo de dias que abren*/
        #dias>h3{
            font-family: Cuprum;
            text-align: center;
            font-size: 20px;
        }

        /*lista de dias que abren*/
        #dias>ul{
            width: 60%;
            display:flex;
            flex-direction: column;
            text-align: left;
        }

        /*elementos de lista de dias que abren*/
        #dias>ul>li{
            text-align: left;
            font-family: Cuprum;
        }

    /*texto de direccion centrado*/
    #direccion{
        text-align: center;
    }

    /*estilos de ofertas*/
    #oferta1, #oferta2, #oferta3{
        border-top: black 2px solid;
        text-align: center;
    }

    /*estilos de oferta y precio*/
    .tituloOferta, .precio{
        font-weight: bold;
        font-size: 22px;
    }

    /*estilo del titulo de redes (footer)*/
    #tituloRedes{
        font-family: Cuprum;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
}



/******************************************************/
/*MEDIA QUERY -> MONITOR*/
/******************************************************/
@media only screen and (min-width: 1000px){

    *{
        list-style-type: none;
    }

    /*secciones escritas exclusivamente para modelo tablet que no aparezcan*/
    #ofertasTablet, #apertura{
        display:none;
    }

    /*estilo de todos los enlaces*/
    a{
        text-decoration: none;
        color:black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    /*estilo de los h2*/
    h2{
        font-family: Bebas Neue;
        font-size: 50px;
    }

    /*estilo de los h3*/
    h3{
        font-family: Kaushan Script;
        font-size: 20px;
    }
    
    /*estilo de los parrafos*/
    p{
        font-family: Arial, Helvetica, sans-serif;
    }

    /*BODY - MONITOR*/
    /*definimos estilo del body*/
    body{
        width:90%;
        margin: auto;
        padding:0;
        border-top:solid 1px black;
        border-bottom:solid 1px black;
        border-left:solid 1px black;
    }

    /*HEADER, NAV - MONITOR*/
    /*Contenedor que va a permanecer fijo en la página. Parte superior*/
    #contenedorFijo{
        position: fixed;
        overflow: hidden;
        margin-top:0;
        width:90%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-color: gold;
        border: black 5px solid;
        box-sizing: border-box;
        height:190px;
    }
        /*Lista de la parte de la navegación de la página*/
        #navegacionPagina>ul{
            width:100%;
            margin:5px;
            padding:0;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        
            /*Elementos de la lista de la navegacion de la pagina*/
            #navegacionPagina>ul>li{
                width:100%;
                margin:2px;
                text-align: center;
                background-color: white;
                color:black;
                font-weight: bold;
                font-size:20px;
            }

            /*Hover de los elementos de la página*/
            #navegacionPagina>ul>li:hover{
                width:120%;
                margin:2px;
                text-align: center;
                color:black;
                font-weight: bold;
                font-size:20px;
                transition: background-color 1s ease;
                color: white;
            }
    
        /*Header del contenedor fijo*/
        header{
            width:50%;
            height:125px;
        }

            /*Foto del header (logo página)*/
            header>img{
                width:90%;
                height:125px;
            }
    
        /*Login de la página dentro del contenedor fijo*/
        #login{
            width:25%;
            height:125px;
        }

            /*Formulario del login*/
            #formLogin{
                height:80%;
                padding:0;
                text-align: left;
                margin-top: 20px;
                font-size: 20px;
                font-weight: bold;
            }

            /*Campos a rellenar del login (U-> usuario, C->clave)*/
            #labelU, #labelC{
                margin: 2px;
                font-family: Cuprum;
                font-size: 20px;
            }

            /*Boton de login*/
            #botonLogin{
                margin:0;
                background-color: black;
                color:gold;
                border:white;
                margin: 10px;
                font-weight: bold;
            }

    /*Foto de encabezado, justo despues del contenedor fijo*/
    #fotoEncabezado{
        width:100%;
        display: flex;
        justify-content: center;
        background-color: black;
    }

        /*Anchura de la imagen del encabezado*/
        #fotoEncabezado>img{
            width: 100%;
        }
    
    /*SECTION - MONITOR*/
    /*Section de la página*/
    section{
        float:left;
        width:75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: black;
        border: black 1px solid;
        margin-bottom: 0;
    }

        /*Seccion de la página donde están los horarios de fisios y actividades*/
        /*SECTION > HORARIOS*/
        #horarios{
            clear:both;
            background-color: gold;
        }  

            /*Espacio de las tablas de fisios y horarios*/
            #espacioTablas{
                margin: auto;
                padding:0;
                width:100%;
            }

            /*Definimos el peso de la letra y la fuente de los th y td de las tablas*/
            tbody>tr>th,td{
                font-family: Cuprum;
                font-weight: bold;
            }
        
            /*Hover de las filas*/
            tr:hover{
                background-color: gold;
                color:black;
            }
        
            /*Estilo de cabeceras*/
            tr>th{
                background-color: black;
                color: white;
            }
                
                /*Espacio de actividades (tabla + form)*/
                #espacioActiv{
                    width:100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                }

                    /*Tabla actividades*/
                    #tablaActividades{
                        width:75%;
                        background-color:white;
                        border: none;
                        text-align:center;
                    }
                    
                    /*Formulario de actividades*/
                    #formularioAct{
                        margin:auto;
                        padding: 0;
                        float:left;
                        width:20%;
                        font-family: Cuprum;
                        font-weight: bold;
                    }

                    /*Boton de "mostrar del formulario de actividades*/
                    #boton1{
                        background-color: black;
                        color:white;
                        font-weight: bold;
                    }

                /*Espacio de fisios (tabla + form)*/
                #espacioFisios{
                    width:100%;
                    display:flex;
                    justify-content: space-between;
                    align-items: flex-start;
                }

                    /*Tabla de fisios*/
                    #tablaFisios{
                        width:75%;
                        background-color:white;
                        border: none;
                        text-align:center;
                    }

                    /*Formulario fisios*/
                    #formularioFis{
                        margin:auto;
                        padding: 0;
                        float:left;
                        width:20%;
                        font-family: Cuprum;
                        font-weight: bold;
                    }
                    
                    /*Boton de "mostrar del formulario de fisios*/
                    #boton2{
                        background-color: black;
                        color:white;
                        font-weight: bold;
                    }

        /*SECTION > INDICES*/
        /*Parte de los indices (IMC Y FCM)*/ 
        #indices{
            background-color: black;
        }

            /*Titulos de los indices*/
            #indices>h2{
                color:rgb(255, 215, 0)
            }

            /*Div que engloba a IMC + FCM*/
            #espacioIndices{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                background-color: white;
                border-top: gold 1px solid;
            }

                /*Distribucion y estilos de IMC*/
                #imc{
                    float:right;
                    width:50%;
                    color:white;
                    font-weight: bold;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    background-color: black;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                    /*h3 de imc*/
                    #imc>h3{
                        text-align: center;
                        color: gold;
                    }

                    /*Boton de "calcular" del imc*/
                    #botonIMC{
                        background-color: gold;
                        color:black;
                        font-weight: bold;
                        width: 30%;
                        margin:auto;
                        padding: 0;
                    }

                /*Parte de FCM, estilos y distribucion*/    
                #fcm{
                    float:right;
                    width:50%;
                    color:white;
                    font-family: Cuprum;
                    background-color: black;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-right: gold 1px solid;
                }

                    /*Alineacion y color de todos los h3 de fcm*/                
                    #fcm>h3{
                        text-align: center;
                        color: gold;
                    }

                    /*Boton de FCM*/
                    #botonFCM{
                        background-color: gold;
                        color:black;
                        font-weight: bold;
                        width: 30%;
                        margin:auto;
                        padding: 0;
                    }
        
        /*SECTION > FOTOS*/
        /*Ancho y color de fondo del */
        #articleFotos{
            background-color: gold;
            width:100%;
        }
    
            /*Espacio donde metes todas las fotos (GALERIA)*/
            #espacioFotos{
                display:flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                background-color: gold;
            }

                /*Imagenes de espacio de fotos*/
                #espacioFotos>img{
                    margin-top: 1px;
                    width: 33%;
                }

                    /*Clase ampliar -> transicion de transformacion*/
                    .ampliar{
                        transition: 0.8s linear;
                    }
                    
                    /*Cuando pase el raton se ampliará la foto*/
                    .ampliar:hover{
                        transform: scale(1.3);
                    }

    /*ASIDE - MONITOR*/
    /*Aside de la página*/
    aside{
        float:right;
        width: 24%;
        display: flex;
        margin-right: 0px;
        flex-direction: column;
        justify-content: space-between;
        height:70%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

        /*ASIDE > DIAS*/
        /*Parte de los dias de apertura. Estilo y distribucion*/
        #dias{
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            font-family: Cuprum;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 95%;
        }

            /*Estilo de los h3 de dias*/
            #dias>h3{
                background-color: gold;
                width: 100%;
                border: black 1px solid;
            }

            /*Lista de días*/
            #dias>ul{
                width:100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: left;
            }

                /*Elementos de la lista de dias*/
                #dias>ul>li{
                    text-align: left;
                    color:black;
                    font-size: 18px;
                    font-family: Cuprum;
                }

        /*ASIDE > CERRAR*/
        /*Dias de cierre del gimnasio*/
        #cerrar{
            width:100%;
            font-family: Cuprum;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            /*Estilo del h3 de cerrar*/
            #cerrar>h3{
                background-color: gold;
                width: 100%;
                text-align: center;
                border: black 1px solid;
            }

            /*Lista de los dias de cierre*/
            #cerrar>ul{
                width:100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: left;
            }

                /*Elementos de la lista de los dias de cierre*/
                #cerrar>ul>li{
                    text-align: left;
                    color:black;
                    font-size: 18px;
                    font-family: Cuprum;
                }

        /*ASIDE > DIRECCION*/
        /*Parte donde mostramos la ubicacion del gimnasio*/
        #direccion{
            margin-top: 20px;
            text-align: center;
            font-size: 15px;
            width: 95%;
        }

            /*Estilo del parrafo de direccion*/
            #direccion>p{
                font-family: Cuprum;
                font-size: 16px;
                font-weight: bold;
            }

            /*Estilo del h3 de direccion*/
            #direccion>h3{
                background-color: gold;
                border: black 1px solid;
            }

            /*Imagen de maps de direccion*/
            #direccion>a>img{
                border: 1px black solid;
                width:80%;
                border: black 1px solid;
            }

        /*ASIDE > OFERTAS*/
        /*Parte de ofertas*/
        #ofertas{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            width: 95%;
        }

            /*h3 de ofertas*/
            #ofertas>h3{
                text-align: center;
                font-size: 18px;
                background-color:gold;
                border: black 1px solid;
            }

                /*Ofertas 1 2 y 3 que tengan este estilo*/
                #oferta1,#oferta2,#oferta3{
                    margin-top:15px;
                    text-align: center;
                    border: black 1px solid;
                }

                /*Clase para definir los titulos de las ofertas*/
                .tituloOferta{
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    font-size: 28px;
                    background-color: gold;
                }

                /*Clase para definir los precios de las ofertas*/
                .precio{
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    font-size: 20px;
                    background-color: black;
                    color:white;
                }

                /*Descripcion de la oferta*/
                .textoOferta{
                    font-family: Cuprum;
                }

    /*FOOTER - MONITOR*/
    /*Footer de la página*/
    footer{
        clear:both;
        width:100%;
        height: 200px;
        background-color: black;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content:center;
    }

        /*FOOTER > RRSS*/
        /*Parte de enlaces de redes del footer*/
        #rrss{
            width:50%;
            margin:auto;
            padding: 0;
        }

        /*Contenido que engloba a las redes del footer*/
            #contenidorrss{
                width:40%;
                margin:auto;
                padding: 0;
                text-align: center;
            }

                /*Anchura de las imagenes del contenidorrss*/
                #contenidorrss>a>img{
                    width:15%;
                }

                /*Texto de "siguenos en redes" del footer*/
                #contenidorrss>p{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: bold;
                    text-align: center;
                    font-size: 20px;
                }

        /*FOOTER > ENLACESFOOTER*/
        /*Enlaces del footer de contacto (unete, sugerencias...)*/
        #enlacesFooter{
            margin:auto;
            padding: 0;
            width:50%;
        }

            /*Lista de los enlaces del footer*/
            #enlacesFooter>ul{
                width:95%;
                margin:auto;
                padding:0;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }

                /*Elementos de la lista de enlaces del footer*/
                #enlacesFooter>ul>li>a{
                    margin:2px;
                    text-align: left;
                    font-size: 18px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    color:white;
                }

                /*Cuando pases el raton por los enlaces... (hover)*/
                #enlacesFooter>ul>li>a:hover{
                    color:gold;
                }
}



/*/******************************************************/
/*MEDIA QUERY -> TABLET*/
/******************************************************/
@media only screen and (min-width:600px) and (max-width:999px){
    *{
        list-style-type: none;
    }

    /*Divs que no van a aparecer en este mediaquery*/
    #fotoEncabezado, #ofertas, #direccion>a>img, #direccionTablet>a>img{
        display: none;
    }

    #navegacionPagina>ul> #ofertas, aside, #direccionTablet{
        display: none;
    }

    /*estilo de todos los enlaces*/
    a{
        text-decoration: none;
        color:black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    /*estilo de los h2*/
    h2{
        font-family: Bebas Neue;
        font-size: 30px;
    }

    /*estilo de los h3*/
    h3{
        font-family: Kaushan Script;
        font-size: 15px;
    }
    
    /*estilo de los parrafos*/
    p{
        font-family: Arial, Helvetica, sans-serif;
    }

    /*BODY - TABLET*/
    /*definimos estilo del body*/
    body{
        margin:auto;
        padding:0;
        width: 90.3%;
        border:black 1px solid;
    }

    /*HEADER, NAV - Tablet*/
    /*Contenedor que va a permanecer fijo en la página. Parte superior*/
    #contenedorFijo{
        position: fixed;
        width:90%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: gold;
        border: black 2px solid;
        height: 150px;
    }

        /*Header del contenedor fijo*/
        #header{
            order:1;
            width: 50%;
        }

            /*Foto del header (logo página)*/
            #header>img{
                margin:auto;
                padding:0;
                width:90%;
            }

        /*Login de la página dentro del contenedor fijo*/
        #login{
            order:2;
            width:25%;
            overflow: hidden;
        }

            /*Formulario del login*/
            #formLogin{
                padding:0;
                margin: 2px;
                font-weight: bold;
                text-align: right;
            }

            /*Boton de login*/
            #botonLogin{
                background-color: black;
                color:gold;
                border:white;
                font-weight: bold;
            }

            /*Campos a rellenar del login (U-> usuario, C->clave)*/
            #labelU, #labelC{
                margin: 2px;
                font-family: Cuprum;
                font-size: 20px;
            }


        /*Orden en el contenedor y tamaño de la navegacion*/
        #navegacionPagina{
            order:3;
            width:100%;
            padding: 0;
        }

            /*Lista de la parte de la navegación de la página*/
            #navegacionPagina>ul{
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                padding:0;
                text-align: center;
                width:100%;
                margin:auto;
            }

                /*Elementos de la lista de la navegacion de la pagina*/
                #navegacionPagina>ul>li{
                    background-color: white;
                    width:auto;
                    border-radius: 5px;
                    height:auto;
                    display:flex;
                    align-items: center;
                    margin:auto;
                }

                /*Hover de los elementos de la página*/
                #navegacionPagina>ul>li:hover{
                    text-align: center;
                    color:white;
                    transition: background-color 1s ease;
                    background-color: black;
                }

                /*Hover de los elementos de la página*/
                #navegacionPagina>ul>li>a:hover{
                    color:white;
                }

                    /*Estilo de los enlaces de la navegacion*/
                    #navegacionPagina>ul>li>a{
                        font-family: Cuprum;
                        font-weight: bold;
                        text-align:center;
                    }

                
    /*Contenedor que va a englobar el contenido de pagina menos el contenedor fijo*/
    /*Le ponemos lo que mide de altura del contenedor principal*/                
    #contedorContenido{
        margin-top: 150px;
        width:100%;
    }

        /*SECTION > HORARIOS*/
        #horarios{
            clear:both;
        }

            /*h2 de horarios*/
            #horarios>h2{
                background-color: black;
                color: gold;
            }

                /*Espacio de las tablas de fisios y horarios*/
                #espacioTablas{
                    margin: auto;
                    padding:0;
                    width:100%;
                }
                
                /*Definimos el peso de la letra y la fuente de los th y td de las tablas*/
                tbody>tr>th,td{
                    font-family: Cuprum;
                    font-weight: bold;
                }
                
                /*Hover de las filas*/
                tr:hover{
                    background-color: gold;
                    color:black;
                }
            
                /*Estilo de cabeceras*/
                tr>th{
                    background-color: gold;
                    color:black;
                    font-family: Kaushan Script;
                }

                    /*H3 de espacio tablas*/
                    #espacioTablas>h3{
                        background-color: gold;
                    }

                /*Espacio de actividades (tabla + form)*/
                #espacioActiv{
                    width:100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    overflow: scroll;
                }

                    /*Tabla actividades*/
                    #tablaActividades{
                        width:75%;
                        border: none;
                        text-align:center;
                    }

                    /*Formulario de actividades*/
                    #formularioAct{
                        margin:auto;
                        padding: 0;
                        float:left;
                        width:20%;
                    }

                    /*Boton de "mostrar del formulario de actividades*/
                    #boton1{
                        background-color: black;
                        color:gold;
                        font-weight: bold;
                    }

                /*Espacio de fisios (tabla + form)*/
                #espacioFisios{
                    width:100%;
                    display:flex;
                    justify-content: space-between;
                    align-items: flex-start;
                }

                    /*Tabla de fisios*/
                    #tablaFisios{
                        width:75%;
                        background-color:white;
                        border: none;
                        text-align:center;
                    }

                    /*Formulario fisios*/
                    #formularioFis{
                        margin:auto;
                        padding: 0;
                        float:left;
                        width:20%;
                        font-family: Cuprum;
                    }

                /*Boton de "mostrar del formulario de fisios*/
                #boton2{
                    background-color: black;
                    color:gold;
                    font-weight: bold;
                }

    #indices{
        background-color: gold;
        border: black 1px solid;
    }

    #espacioIndices{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #fcm{
        width:50%;
        color:white;
        font-family: Cuprum;
        font-weight: bold;
        background-color: gold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color:black;
    }

    #fcmpersonal{
        text-align: center;
        font-family: Cuprum;
        font-weight: bold;
    }

    #listafcm{
        text-align: left;
        font-size: 13px;
    }

    #fcm>h3{
        text-align: center;
        color: black;
    }

    #botonFCM{
        background-color: white;
        color:black;
        font-weight: bold;
        width: 30%;
        margin:auto;
        padding: 0;
    }

    #imc{
        width: 50%;
        float:right;
        font-family: Cuprum;
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }

    #imc>h3{
        text-align: center;
        color: black;
    }

    #listaimc{
        float: left;
        font-size: 12px;
        text-align: left;
        color:black;
    }

    #botonIMC{
        background-color: white;
        color:black;
        font-weight: bold;
        width: 30%;
        margin:auto;
        padding: 0;
    }

    #articleFotos{
        width:55.3%;
        float: left;
        height:90%;
        background-color: black;
        margin-bottom: 0;
    }

    #articleFotos>h2{
        color:gold;
    }

    #espacioFotos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width:100%;
        background-color: black;
    }

    #espacioFotos>img{
        width:49.25%;
        margin:1px;
    }

    .ampliar{
        transition: transform .2s;
    }

    .ampliar:hover{
        transform: scale(1.5);
        border: black 1px solid;
    }

    #apertura{
        padding: 0;
        float: right;
        width: 44.5%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: white;
        height: 504px;
    }

    #diasTablet, #cerrarTablet, #direccionTablet{
        margin-bottom: 10px;
    }

    #diasTablet>h3{
        background-color: gold;
        color:black;
        text-align: center;
    }

    #diasTablet>ul{
        border-bottom: black 1px solid;
        width:100%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #diasTablet>ul>li{
        margin:2px;
        text-align: left;
        color:white;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #cerrarTablet{
        width:100%;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }

    #cerrarTablet>h3{
        background-color: gold;
        color:black;
    }

    #cerrarTablet>ul{
        width:100%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #cerrarTablet>ul>li{
        margin:2px;
        text-align: left;
        color:white;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #direccionTablet{
        margin:auto;
        padding:0;
        text-align: center;
    }

    #direccionTablet>p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: bold;
    }

    #direccionTablet>h3{
        background-color: gold;
        color: black;
    }

    #ofertasTablet{
        width:100%;
        margin: auto;
        padding:0;
        clear:both;
        text-align: center;
        background-color: gold;
    }

    #ofertasTablet>h3{
        font-size: 35px;
    }

    #espacioOfertasTablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #oferta1, #oferta2, #oferta3{
        margin:4px;
        border: black 1px solid;
        background-color: white;
    }

    .tituloOferta{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 20px;
        background-color: gold;
    }

    .precio{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 20px;
        background-color: black;
        color:white;
    }

    .textoOferta{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    footer{
        clear:both;
        width:100%;
        height: 200px;
        background-color: black;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content:center;
    }

    #rrss{
        width:50%;
        margin:auto;
        padding: 0;
    }

    #contenidorrss{
        width:60%;
        margin:auto;
        padding: 0;
        text-align: center;
    }

    #contenidorrss>a>img{
        width:40px;
    }

    #contenidorrss>p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
    }

    #enlacesFooter{
        margin:auto;
        padding: 0;
        width:40%;
    }
    #enlacesFooter>ul{
        width:95%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #enlacesFooter>ul>li>a{
        margin:2px;
        text-align: left;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        color:white;
    }

    #enlacesFooter>ul>li>a:hover{
        color:gold;
    }
}

@media only screen and (max-width:600px) and (min-width:300px){
    *{
        list-style-type: none;
    }

    a{
        text-decoration: none;
        color:black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h2{
        font-family: Bebas Neue;
        font-size: 30px;
    }

    h3{
        font-family: Kaushan Script;
        font-size: 15px;
    }
    
    p{
        font-family: Arial, Helvetica, sans-serif;
    }

    #ofertasTablet, #apertura, #fotoEncabezado, #direccionTablet>a{
        display:none;
    }

    #navegacionPagina>ul> #ofertasTablet{
        display: none;
    }

    body{
        margin:auto;
        padding:0;
        width: 90.3%;
        border: black 2px solid;
    }

    #contenedorFijo{
        position: fixed;
        width:90%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: gold;
        border: black 2px solid;
        height: 170px;
    }

    #header{
        order:1;
        width: 50%;
    }

    #header>img{
        margin:auto;
        padding:0;
        width:90%;
    }

    #login{
        order:2;
        width:25%;
        overflow: hidden;
    }

    #formLogin{
        padding:0;
        margin: 2px;
        font-weight: bold;
        text-align: right;
    }

    #botonLogin{
        background-color: black;
        color:gold;
        border:white;
        font-weight: bold;
    }

    #labelU, #labelC{
        margin: 2px;
        font-family: Cuprum;
        font-size: 20px;
    }

    #navegacionPagina{
        order:3;
        width:100%;
        padding: 0;
    }

    #navegacionPagina>ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        padding:0;
        text-align: center;
        width:100%;
        margin:auto;
    }

    #navegacionPagina>ul>li{
        background-color: white;
        width:auto;
        border-radius: 5px;
        height:auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin:auto;
        margin-top:10px;
    }

    #navegacionPagina>ul>li:hover{
        text-align: center;
        color:white;
        transition: background-color 1s ease;
        background-color: black;
    }

    #navegacionPagina>ul>li>a{
        font-family: Cuprum;
        font-weight: bold;
        text-align:center;
    }

    #navegacionPagina>ul>li>a:hover{
        color:white;
    }

    #contedorContenido{
        margin-top: 170px;
        width:100%;
    }

    #horarios{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow: scroll;
    }

    #horarios>h2{
        background-color: black;
        color: gold;
    }
    
    #espacioTablas{
        margin: auto;
        padding:0;
        width:100%;
    }

    #espacioTablas>h3{
        background-color: gold;
    }

    #espacioActiv{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #espacioFisios{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #tablaFisios{
        width:75%;
        background-color:white;
        border: none;
        text-align:center;
    }

    tbody>tr>th,td{
        font-family: Cuprum;
        font-weight: bold;
    }

    tr:hover{
        background-color: gold;
        color:black;
    }

    tr>th{
        background-color: black;
        color:white;
        font-family: Kaushan Script;
    }

    #formularioFis{
        margin:auto;
        padding: 0;
        float:left;
        width:20%;
        font-family: Cuprum;
        font-weight: bold;
    }


    #tablaActividades{
        font-size: 12px;
        width:90%;
        text-align: center;
        font-weight: bold;
        border: white 2px solid;
    }

    #formularioAct{
        font-family: Cuprum;
        font-size: 15px;
        font-weight: bold;
        width:100%;
        text-align: center;
    }

    #boton1{
        background-color: gold;
        font-weight: bold;
        width:25%;
        text-align: center;
    }

    #boton2{
        background-color: gold;
        font-weight: bold;
        width:25%;
        text-align: center;
    }

    #indices{
        background-color: black;
    }

    #indices>h2{
        text-align: center;
        color: gold;
    }

    #espacioIndices{
        display: flex;
        flex-direction: column;
    }
    
    #imc{
        width:100%;
        color:white;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #imc>h3{
        text-align: center;
        color: gold;
    }

    #botonIMC{
        background-color: white;
        color:black;
        font-weight: bold;
        width: 30%;
        margin:auto;
        padding: 0;
    }

    #fcm{
        width:100%;
        color:white;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: gold 1px solid;
    }

    #fcm>h3{
        text-align: center;
        color: gold;
    }

    #botonFCM{
        background-color: white;
        color:black;
        font-weight: bold;
        width: 30%;
        margin:auto;
        padding: 0;
    }

    #articleFotos{
        background-color: black;
        color:black;
    }

    
    #espacioFotos{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        background-color: black;
        text-align: center;
    }

    #espacioFotos>img{
        margin-top: 1px;
        width:98%;
    }

    aside{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height:100%;
    }

    #dias{
        margin-top: 50px;
        width:90%;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }

    #dias>h3{
        background-color: gold;
    }

    #dias>ul{
        width:100%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #dias>ul>li{
        margin:2px;
        text-align: left;
        color:black;
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #cerrar{
        width:100%;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        margin-top: 20px;
    }

    #cerrar>h3{
        background-color: gold;
    }

    #cerrar>ul{
        width:100%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #cerrar>ul>li{
        margin:2px;
        text-align: left;
        color:black;
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #direccion{
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        width: 90%;
    }

    #direccion>p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #direccion>h3{
        background-color: gold;
    }

    #direccion>a>img{
        border: 1px black solid;
        width:95%;
    }

    #ofertas{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
    }

    #ofertas>h3{
        text-align: center;
        font-size: 22px;
    }

    #oferta1,#oferta2,#oferta3{
        margin-top:15px;
        text-align: center;
        border: black 1px solid;
    }

    .tituloOferta{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 28px;
        background-color: gold;
    }

    .precio{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 20px;
        background-color: black;
        color:white;
    }

    .textoOferta{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    footer{
        clear:both;
        width:100%;
        height: 200px;
        background-color: black;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content:center;
    }

    #rrss{
        width:50%;
        margin:auto;
        padding: 0;
    }

    #contenidorrss{
        width:60%;
        margin:auto;
        padding: 0;
        text-align: center;
    }

    #contenidorrss>a>img{
        width:20px;
    }

    #contenidorrss>p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 14px;
    }

    #enlacesFooter{
        margin:auto;
        padding: 0;
        width:40%;
    }
    #enlacesFooter>ul{
        width:95%;
        margin:auto;
        padding:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #enlacesFooter>ul>li>a{
        margin-top:10px;
        padding: 0;
        text-align: left;
        font-size: 11px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        color:white;
    }

    #enlacesFooter>ul>li>a:hover{
        color:gold;
    }

}

@media only screen and (max-width:299px){
    *{
        display: none;
    }
}